@font-face {
    font-family: 'Proxima-Bold';
    src: url('./assets/fonts/Proxima-B.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Light';
    src: url('./assets/fonts/Proxima-L.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Regular';
    src: url('./assets/fonts/Proxima-R.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Medium';
    src: url('./assets/fonts/Proxima-M.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Thin';
    src: url('./assets/fonts/Proxima-T.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'FontAwesome';
    src: url('./assets/fonts/fontawesome-webfont.ttf') format('truetype');
  }
  
  html{
      direction: rtl;
  }
  
  body {
    margin: 0;
    font-family: 'Proxima-Light';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    font-size: 14px !important;
  }
  
  code {
    font-family: 'Proxima-Regular';
    font-size: 14px;
  }
  .MuiTypography-body1 {
    font-size: 14px !important;
  }
  
  .auth-white-bg{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 20px;
    margin-top: 6em;
  }
  .auth-white-bg form{
    text-align: right;
  }
  .MuiFormControl-root{
    width: 100%;
  }
  .MuiInputLabel-formControl {
    font-size: 12px !important;
  }
  .MuiInputBase-input{
    font-size: 14px !important;
  }
  .auth-white-bg .MuiButton-containedPrimary {
    background-color: #0195FF !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    width: 100%;
  }
  .auth-btns{
    margin-top: 30px;
  }
  .linkedin-btn{
    background-color: #0083A8 !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    width: 100%;
    color: #fff !important;
    margin-top: 20px !important;
  }
  .auth-btns-mini .MuiButton-containedPrimary {
    background-color: #0195FF !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    width: 120px;
  }
  .layout-reg{
   background: url('./assets/reg-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 415px;
  }
  .blackHead{
    font-size: 24px;
    font-family: 'Proxima-Medium';
  }
  .blueHead{
    font-size: 24px;
    font-family: 'Proxima-Medium';
    color: #0195FF;
    margin-bottom: 50px;
  }
  .blurText{
    color: #989898;
    font-size: 18px;
    margin: 20px 0;
  }
  .anchor{
    color: #0195FF;
    cursor: pointer;
  }
  .anchor:hover{
    color: #0195FF;
    cursor: pointer;
  }
  .semibold{
    font-family: 'Proxima-Medium'; 
  }
  .font24{
    font-size: 24px;
  }
  .shortBorder{
    text-align: center;
    width: 100px;
    height: 3px;
    margin: 5px auto;
    background: #0195FF;
  }
  .thankyou{
    padding: 50px 30px;
  }
  .auth-white-bg .form-group{
    position: relative;
    margin-bottom: 25px;
  }
  .invalid-feedback{
    position: absolute;
    color: red;
    font-size: 12px;
  }
  label {
    font-family: 'Proxima-Medium' !important;
  }
  .square-box{
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 29px;
    color: #989898;
    text-align: center;
    padding: 55px 0;
    cursor: pointer;
  }
  .square-box:hover{
    border-color: #0195FF;
  }
  .square-box:active{
    border-color: #0195FF;
  }
  .square-box:focus{
    border-color: #0195FF;
  }
  
  .next-btn{
    justify-content: flex-end;
    display: flex;
  }
  .next-btn button{
   width:176px !important;
   margin-top: 30px;
  }
  .access .square-box {
    padding: 4px 0;
  }
  .img-text{
    font-size: 12px;
    color: #000;
  }
  .file-drop{
    border: 1px dashed #ccc;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  .login-section{
    background: url('./assets/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: bottom;
  }
  .login-form-bg{
    background: #FAFAFA;
    padding: 60px 60px;
    width: 600px;
    border-bottom-left-radius: 60px;
    position: absolute;
  }
  .form-group{
    text-align: right;
  }
  .img-dots{
    position: absolute;
    bottom: 150px;
  }
  
  .login-form-bg .auth-white-bg {
    background:transparent !important;
    box-shadow: none !important;
    padding:0 !important;
    margin-top: 0 !important;
  }
  .login-form-bg .anchor{
    display: flex;
      justify-content: flex-end;
  
  }
  .form-control{
    background-color: #fff !important ;
    box-shadow: none !important;
  }
  .emp{
    background: #EFEFEF;
    display: inline-block;
    color: #989898;
    padding: 3px 10px;
    border: 1px solid #ccc;
    width: 200px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
  }
  .sour{
    background: #EFEFEF;
    display: inline-block;
    color: #989898;
    padding: 3px 10px;
    border: 1px solid #ccc;
    width: 200px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
  }
  .top-login-nav{
    padding-bottom: 50px;
  }
  .gen-tab{
    cursor: pointer;
  }
  .gen-tab-active{
    border-color: #0195ff !important;
    background: #E1F0FB !important;
    color: #0195ff !important;
  }
  .hero-section{
    background: url('./assets/arabic-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 137vh;
  }
  .sourcer-home .hero-section{
    background: url('./assets/sourcer-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 87vh;
  }
  .banner-text{
    padding: 17em 0 0 0;
  }
  .hero-section .blackHead{
    font-size: 35px;
    font-family: 'Proxima-Bold';  
  }
  .hero-section .shortBorder {
    text-align: right;
    width: 100px;
    height: 3px;
    margin: 5px 0;
    background: #0195FF;
  }
  .banner-text p{
    color: #989898;
    font-size: 18px;
    padding: 25px 0;
  }
  .hero-section .blackSubHead{
    font-size: 22px;
    font-family: 'Proxima-Bold'; 
  }
  .banner-text img{
    margin: 0 15px;
    position: relative;
    top: -2px;
    cursor: pointer;
  }
  .firstFeature{
  
  }
  
  .splitCol{
    background: #fff;
    padding: 2em 0;
  }
  .splitHead{
    font-family: 'Proxima-Medium';
    font-size: 24px;
    color: #000;
  }
  .splitCol .shortBorder{
    text-align: right;
    width: 100px;
    height: 3px;
    margin: 5px 0;
    background: #0195FF;
  }
  .splitCol p{
    color: #989898;
    font-size: 18px;
    padding-top: 20px;
  
  }
  .firstSplit img {
    float: left;
  }
  .firstSplit .info{
    padding: 13em 0 0 0;
  }
  .secondSplit img {
    float: right;
  }
  .secondSplit .info{
    padding: 10em 0 0 0;
  }
  .splitCol .blackSubHead {
    font-size: 22px;
    font-family: 'Proxima-Bold';
    padding-top: 30px;
  
  }
  .reqImg{
    float: none;
    position: relative;
    left: -10px;
  }
  .blueSec{
    background: #0195FF;
    height: 258px;
    padding: 4em;
    text-align: center;
    position: relative;
  }
  .bluesecHead{
    font-size: 40px;
    font-family: 'Proxima-Bold';
    padding-bottom: 30px;
    color: #fff;
  }
  .blueSec img{
    position: absolute;
    right: 103px;
    top: 2px;
  }
  .blueSec .form-control{
    width: 350px;
    margin: 0 auto;
    height: 46px;
  }
  .inputBlue{
    position: relative;
    width: 350px;
    margin: 0 auto;
  }
  .inputBlue .reqImg {
    position: absolute;
    left: 5px;
    right: unset;
    top: 3px;
  }
  .secondSplit .reqImg {
   float: none
  }
  .appFooter{
    background: #0195FF;
    padding: 10px 0;
    color: #fff;
    text-align: center;
  }
  .features img{
    position: relative;
  }
  .firstFeature .featureHead{
    position: absolute;
    top: 146px;
    z-index: 9;
    right: 153px;
    font-size: 22px;
    font-family: 'Proxima-Medium';
  }
  
  .firstFeature p{
    position: absolute;
    top: 224px;
    z-index: 9;
    right: 61px;
    font-size: 16px;
    color: #000;
    width: 295px;
  }
  .secondFeature .featureHead{
    right: 140px;
  }
  .thirdFeature .featureHead{
    right: 118px;
  }
  .features{
    padding: 3em 0;
  }
  .reg-nav li{
    list-style: none;
    display: inline;
    margin-right: 30px;
  }
  .nofill{
    height: 12px;
    width: 12px;
    border: 1px solid #989898;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
  }
  .high{
    font-family: 'Proxima-Medium';
    color: #0195FF; 
  }
  
  .fill{
    height: 15px;
    width: 15px;
    border: 1px solid #0195FF;
    display: inline-block;
    border-radius: 50%;
    background: #0195FF;
    text-align: center;
    line-height: 1;
    margin-left: 10px;
  }
  .fill i{
    color: #fff;
      font-size: 10px;
  }
  .reg-nav{
   padding-bottom: 30px;
   padding-right: 0px;
  }
  .nofill i{
    display: none;
  }
  .nohigh{
    color: #989898;
  }
  .auth-white-bg .blueHead{
    text-align: center;
  }
  thead{
    background: #E1F0FB
  }
  .table-link{
    background: #e1f0fb;
      height: 35px;
      width: 35px;
      display: inline-block;
      text-align: center;
      font-size: 20px;
      color: #0195ff;
      font-family: 'Proxima-Bold';
      border-radius: 50%;
      line-height: 1.7;
      border: 1px solid #0195ff;
      cursor: pointer;
      margin-left: 10px;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 2.428571;
  }
  
  .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
    font-family: 'Proxima-Bold';
  }
  .table-responsive {
    box-shadow: 0 0 5px #ccc;
  }
  .listing-admin .blackHead{
    padding-bottom: 20px;
  }
  .btn-approve{
    font-size: 16px;
    background: #0195ff;
    color: #fff;
    font-family: 'Proxima-Medium';
  }
  .btn-decline{
    background: #e1f0fb;
    color: #0195ff;
    font-family: 'Proxima-Medium';
    font-size: 16px;
  }
  .btn-cancel{
    background: #989898;
    border: 1px solid #DBDBDB;
    color: #DBDBDB;
    font-family: 'Proxima-Medium';
    font-size: 16px;
  }
  .data-card{
    background: #fff;
    box-shadow: 0 0 5px #CCC;
    padding: 30px;
    border-radius: 4px;
  }
  .data-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align:center;
    margin: 0 auto;
  }
  .data-img img{
    width: 100%;
    border-radius: 50%;
  }
  .data-info{
    text-align: center;
  }
  .data-card-head{
    font-size: 16px;
    font-family: 'Proxima-Medium';
    padding-top: 10px;
    color: #575757;
  }
  .data-card-light{
    color: #A5ADB2;
    font-size: 14px;
  }
  .data-card-subhead{
    /* padding: 0 0 5px 0; */
    font-size: 14px;
  }
  .data-links{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    margin: 20px 0;
  }
  .data-desc{
    text-align: right
  }
  .data-btns button{
    margin: 30px 10px;
  }
  .data-card .MuiAppBar-colorPrimary {
    color: #989898 !important;
    background-color: #fff !important;
    font-size: 16px !important;
    box-shadow: none !important;
  }
  .MuiTabs-indicator{
    background-color: #0195ff !important;
  }
  .MuiTab-root{
    font-size: 16px !important;
    text-transform: capitalize !important;
  }
  .layout-home .navbar-background{
    background-color: transparent !important;
  }
  .layout-home .navbar .buttons-wrapper button{
    background-color: transparent !important;
  }
  .layout-home .navbar{
    position: absolute;
    width: 100%;
  }
  .alert{
    width: 30%;
    text-align: right;
    top: 0;
    right: 36%;
    position: fixed;
    border-radius: 0;
    z-index: 100001;
    padding: 14px 30px;
    color: #fff;
    font-size: 16px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.37);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.37);
    text-align: center
  }
  .alert-danger {
    background-color: #f75b5b!important;
    border-color: #f75b5b!important
  }
  
  .alert-success {
    background-color: #3ddc7d!important;
    border-color: #3ddc7d!important
  }
  .job-bg{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 30px;
    border-radius: 4px;
    margin-top: 30px;
    position: relative;
    min-height: 300px;
  }
  
  .job-box{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 30px;
    text-align: center;
    border-top: 5px solid #0195ff;
    cursor: pointer;
  }
  .job-box:hover{
    box-shadow: 0 0 20px #ccc;
  }
  .mini-head{
    color: #575757;
    font-family: 'Proxima-Medium';
    font-size: 18px;
    float: right;
  }
  .head-sec{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: flow-root;
    margin-bottom: 20px;
  }
  .job-bg .filter{
    float: left;
  }
  .highlight-filter{
    background: #0195FF !important;
    color: #fff !important;
  }
  .active-filter{
    background: #EFEFEF;
    color: #989898;
    height: 25px;
    display: inline-block;
    width: 106px;
    line-height: 2;
    text-align: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
  }
  .non-active-filter{
    background: #EFEFEF;
    color: #989898;
    height: 25px;
    display: inline-block;
    width: 106px;
    line-height: 2;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
  }
  .remain-box{
    background: #e1f0fb;
    height: 70px;
    width: 70px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #0195ff;
    font-family: 'Proxima-Bold';
    border-radius: 50%;
    line-height: 1.7;
    border: 1px solid #0195ff;
    cursor: pointer;
  }
  .light-mini{
    font-size: 10px;
      font-family: 'Proxima-Light';
      position: relative;
      top: -16px;
  }
  .mega-number{
    font-size: 28px;
    line-height: 2;
  }
  .remain-img-box{
    background: #efefef;
    height: 56px;
    width: 56px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #989898;
    font-family: 'Proxima-Bold';
    border-radius: 50%;
    line-height: 2.5;
    border: 1px solid #efefef;
    cursor: pointer;
  }
  .layout-sourcer{
    background: #F8F9FC;
    padding-bottom: 30px;
    /* padding-top: 4em; */
  }
  .plain{
  
    text-align: center;
    padding: 0 20px;
    height: inherit;
    display: inline-block;
    cursor: pointer;
  
  }
  .filters-inbox{
    background-image: url('./assets/blur-bg.png');
    width: 600px;
    margin: 0 auto;
    height: 51px;
    line-height: 4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top:-98px;
    margin-bottom: 30px;
  }
  .active{
    background: #0195ff;
    color: #fff;
    font-family: 'Proxima-Bold';
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .sub-info{
    margin-bottom: 20px;
  }
  .bold-head{
      font-size: 16px;
      font-family: 'Proxima-Medium';
      color: #2B2B2B;
  }
  .bold-clr-head{
    font-size: 16px;
    font-family: 'Proxima-Medium';
    color: #0195ff;
  }
  .sub-row{
    padding: 0 30px 0 0;
    display: inline-block;
  }
  .sub-info-right{
    justify-content: flex-end;
    display: flex;
  }
  .sub-info-box{
      background: #fff;
      box-shadow: 0 0 5px #ccc;
      padding: 30px;
      border-radius: 4px;
  
  }
  .feature-set{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    text-align: center;
  }
  .feature-set i{
    padding-left: 10px;
  }
  
  .feature-set .text{
    color: #989898;
    text-align: right;
  }
  .feature-set-row{
    display: inline-block;
    padding: 0 30px;
  }
  .feature-set .bold-head{
    text-align: right;
  }
  .feature-set-info{
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .light-text{
      color: #989898;
  }
  .sub-feature{
    margin-bottom: 15px;
  }
  .shortBorder-head {
    text-align: center;
    width: 100px;
    height: 3px;
    margin: 5px 0 30px 0;
    background: #0195FF;
  }
  .MuiButton-containedPrimary {
    background-color: #0195FF !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    width: 100%;
  }
  .draft .sub-info-box{
    margin-bottom: 20px;
  }
  .job-details {
    width: 425px;
  }
  .jb-box{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 30px 15em;
    border-radius: 4px;
  }
  .react-wysiwyg-typescript-toolbar .rdw-option-active, .react-wysiwyg-typescript-toolbar .rdw-option-wrapper:hover {
    background: #d2d2d2 !important;
  }
  .onText{
    font-size: 24px;
    font-family: 'Proxima-Medium';
    color: #2B2B2B;
    text-align: center;
    display: inline-block;
    padding: 0 30px;
  }
  .onsite{
    text-align: center;
    position: relative;
    margin:30px 0;
  }
  .sep{
    height: 1px;
    background: #ccc;
    width: 290px;
    display: inline-block;
    position: relative;
    top: -5px;
  }
  
  .btn-job{
    margin-top: 30px;
    display: flow-root;
  }
  .pull-right{
    display: flex;
    justify-content: flex-end
  }
  .pull-left{
    float: right;
  }
  .btn-job .btn-approve{
  margin-right: 10px;
  }
  .activeCheck{
    color: #0195FF !important;
    border-color: #0195FF !important;
  }
  .check{
    color: #989898;
    border: 1px solid #E2E2E2;
    display: inline-block;
    border-radius: 4px;
    width: 139px;
    height: 30px;
    text-align: center;
    line-height: 1.8;
    font-size: 16px;
    font-family: 'Proxima-Medium';
    cursor: pointer;
    margin-left: 30px;
  }
  .check i{
    padding-left: 8px;
  }
  .objective .sep {
    background: #ccc;
    width: 28px;
  }
  .objective {
    margin: 30px 0;
  }
  .semibold-clrd-minihead{
    font-size: 18px;
    font-family: 'Proxima-Medium';
      color: #0195FF;
      padding:0 3px;
  }
  .semibold-normal-minihead{
    font-size: 18px;
    font-family: 'Proxima-Medium';
      color: #2B2B2B;
      text-align: center;
  }
  .step-block{
    display: inline-block;
    text-align: center;
    float: right;
    margin: 30px 0 50px 0;
  }
  .arrowSte{
    padding: 35px 30px;
    float: right;
  }
  .step-block .semibold{
    padding: 10px 0 0 0;
    display: inline-block;
  }
  .steps{
    padding: 0 43px 0 0px;
  }
  .draft-filter {
    background: #EFEFEF;
    color: #989898;
    height: 25px;
    display: inline-block;
    width: 106px;
    line-height: 2;
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
  }
  .roundImg{
    
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-left: 5px;
  
  }
  .job-card-btm .data-card-light{
    float: right;
  }
  
  .job-card-btm .data-card-light-green{
    display: flex;
    justify-content: flex-end;
    color: #09D501
  }
  .job-card-btm{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 30px;
  }
  .emp-job .mini-head{
      margin-left: 25px;
      position: relative;
  }
  .emp-job .mini-head-active{
    color: #0195FF !important;
  }
  .mini-head-active::after{
  content:'';
  position: absolute;
  background: #0195ff;
  display: block;
  height: 2px;
  width: 67px;
  top: 34px;
  }
  .top-head button{
  display: flex;
  justify-content: flex-end;
  float: left;
  }
  .top-head .bold-head{
    float: right;
    position: relative;
    top: 16px;
  }
  .top-head{
    margin: 10px 0;
    display: flow-root;
  }
  .top-head i{
    font-size: 12px;
    padding: 0 5px;
    position: relative;
    top: 5px;
  }
  .table-link i{
    font-size: 16px;
  }
  .candidate .job-card-btm .data-card-light-green {
    display: flex;
    justify-content: flex-end;
    color: #09D501;
    position: relative;
    top: 10px;
  }
  .candidate-tabs{
    padding-top: 30px;
  }
  .bread-text{
    padding-bottom: 30px;
  }
  .lt-text{
    color: #989898;
  }
  .lt-text i{
    padding: 0 10px;
  }
  .lt-head{
    color: #0195FF;
    font-family: 'Proxima-Bold';
  }
  .list-unstyled {
    padding-right: 0;
    list-style: none;
  }
  .track-order-list ul li.completed {
    border-color: #0195FF;
  }
  .track-order-list ul li:first-child {
    padding-top: 0;
  }
  .track-order-list ul li {
    position: relative;
    border-right: 2px solid #dee2e6;
    padding: 0 21px 14px 0;
    display: flow-root;
  }
  .track-order-list ul li:before {
    content: "";
    position: absolute;
    right: -7px;
    top: 0;
    height: 12px;
    width: 12px;
    background-color: #0195FF;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  .mb-1, .my-1 {
    margin-bottom: .375rem!important;
  }
  .mt-0, .my-0 {
    margin-top: 0!important;
  }
  .text-muted {
    color: #98a6ad!important;
    display: flex;
    justify-content: flex-end;
  }
  .track-order-list{
    text-align: right;
  }
  .track-order-list h5 {
    font-size: 16px;
    font-family: 'Proxima-Medium';
    color: #575757;
  float: right;
  }
  .mb5{
    margin-bottom: 5px;
  }
  b, strong {
    font-family: 'Proxima-Medium';
    color: #2B2B2B;
  }
  .sub-feature .bold-head {
    padding-bottom: 5px;
  }
  a {
    color: #0195ff !important;
  }
  
  .head-sec .bread-text {
    padding-bottom: 0px !important;
    float: right;
  }
  
  .book-right{
    background: url('./assets/book-meeting.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 20px 30px;
  }
  .book-meeting{
    padding: 30px 0;
  }
  .book-right .bold-head {
    color: #fff;
  }
  .duration-slots-box{
    color: #fff;
    text-align: center;
    display: inline-block;
    border: 1px solid #fff;
    height: 25px;
    width: 100px;
    line-height: 1.7;
    margin: 10px 0;
    cursor: pointer;
  }
  .border-rad-0{
    border-radius: 0px;
  }
  .border-L-4{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .border-R-4{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .duration-slots{
    margin-bottom: 30px;
  }
  .transp-select{
    border: 0;
    background: transparent;
    color: #fff;
    cursor: pointer;
  }
  .transp-select option {
    background: rgb(38 138 208);
    color: #fff;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  }
  :focus {
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  .time-row{
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #fff;
    cursor: pointer;
  }
  .tActive .fa{
    color: #fff !important;
  }
  .time-row .fa{
    color: transparent;
    display: flex;
    justify-content: flex-end;
  }
  .text-white-time{
    float:right;
    color: #fff;
  }
  .time-slots{
    margin: 30px 0;
    max-height: 290px;
    overflow-y: auto;
  }
  .book-left{
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px 30px;
    height: 600px;
  }
  
  .p0{
    padding: 0 !important;
  }
  .slick-center img {
    -ms-transform: scale(2.0);
    transform: scale(2.0);
  }
  .slider-text{
    display:none;
  }
  .slick-center .slider-text{
    display: block !important;
    white-space: pre;
    position: relative;
    top: 40px;
  }
  .slick-slide img {
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  .slick-slide {
    min-height: 180px !important;
    text-align: center;
  }
  
  .slick-slider {
    margin: 30px 0;
  }
  
  .react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 0px solid #a0a096 !important;
    font-family:inherit !important;
    margin: 0 auto;
  }
  abbr[data-original-title], abbr[title] {
    cursor: default !important;
    border-bottom: 0px dotted #777 !important;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #0195FF !important;
  }
  
  .react-calendar__navigation button {
    font-size: 20px;
    color: #0195FF;
    font-family: 'Proxima-Medium';
  }
  .react-calendar__month-view__weekdays__weekday {
    font-size: 14px;
    font-family: 'Proxima-Medium';
  }
  abbr[title] {
    text-decoration:none !important;
  }
  .activeSlot{
    font-family: 'Proxima-Bold'; 
  }
  .btn-book{
    width: 150px;
    height: 40px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-family: 'Proxima-Medium';
    font-size: 18px;
    margin-top: 30px;
  }
  .switchBox{
    display: flow-root;
  }
  .green{
    color: #09D501;
  }
  .empJB .job-box {
    padding: 15px 30px 30px 30px;
    height: 270px;
  }
  .switchBox .MuiSwitch-root{
    top: -10px
  }
  .MuiSwitch-colorPrimary.Mui-checked {
      color: #0195ff !important;
  }
  
  .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: #0195ff !important;
  }
  .loading .MuiCircularProgress-colorPrimary {
    color: #ffffff !important;
    width: 15px !important;
    height: 15px !important;
    margin-left: 10px;
    position: relative;
    top: 2px;
  }
  .tag-Input{
    position: relative;
  }
  .add-tag{
    position: absolute;
      left: 24px;
      top: 32px;
      background: #0195ff;
      color: #fff;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      text-align: center;
      line-height: 1.4;
      cursor: pointer;
  }
  .tag-output li{
    list-style: none;
    margin-left: 2px;
    color: white;
    background: #0195ff;
    display: inline;
    padding: 2px 7px;
    border-radius: 4px;
  }
  .tag-output{
    padding: 5px 0 0 0;
  }
  .close-tag{
    padding-right: 5px;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    top: 1px;
  }
  .alert .fa{
    position: absolute;
    left: 7px;
    cursor: pointer;
    top: 5px;
  }
  .login-section .brand{
    margin: 0;
    color: #0195ff;
    position: relative;
    top: -40px;
    cursor: pointer;
  }
  .layout-home .appHeader {
    position: absolute;
    width: 100%;
    background: transparent;
    box-shadow: none;
    background: url('./assets/navbar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55px;
    top: -3px;
  }
  .nav-drop img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px
  }
  .MuiMenuItem-root {
    font-size: 14px !important;
  }
  .MuiAppBar-root .MuiTypography-noWrap{
    flex-grow: 1;
  }
  .ad-bt{
    width: 100%;
    text-align: center;
    border-radius: 4px;
  }
  .MuiPopover-paper{
    margin: 37px 64px;
  }
  .thankyou-padding {
    padding: 90px 30px;
  }
  .react-tel-input .form-control{
    width: 100% !important;
  }
  .action-links-job img{
    padding-left: 15px;
    cursor: pointer;
  }
  .job-req .filter{
    float: left;
  }
  .job-req .blackHead{
    float: right;
  }
  .MuiDialogTitle-root h6{
    font-size: 24px;
    font-family: 'Proxima-Medium';
  }
  .job-pop-btns button{
    margin: 30px 10px;
  }
  .head-job-pop{
    margin: 30px 0;
  }
  .red{
    color:red !important;
    cursor: pointer;
  }
  .MuiCircularProgress-colorPrimary {
    color: #0195ff !important;
    position: absolute;
    right: 50%;
    top: 50%;
  
  }
  .balance-box{
    background: #e1f0fb;
    padding: 5px;
    border-radius: 4px;
    color: #0195FF;
    font-family: 'Proxima-Medium';
  }
  .cand-light-text{
    position: relative;
    top: 10px;
    float: left !important;
  }
  .cand-box{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .cand-head{
    background: #e1f0fb;
    color: #0195ff;
    padding: 10px;
    font-family: 'Proxima-Bold';
  }
  .cand-row{
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    display: flow-root;
  }
  .cand-row .left{
    float: right;
  }
  .cand-row .right{
    float: left;
  }
  .cand-row .blue{
    color: #0195ff;
    font-family: 'Proxima-Medium';
    position: relative;
    top: 20px;
    cursor: pointer;
  }
  .cand-row:hover {
    background: #efefef;
  }
  .src-blnc .white-box{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 4px;
    padding: 20px;
    height: 100px;
    position: relative;
  }
  .src-blnc{
    margin: 30px 0;
  }
  .clr-head{
    color: #0195ff;
  }
  .div-center{
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }
  .border-LR{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .row-center{
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    width: 100%;
  }
  .src-blnc .shortBorder{
   text-align: right;
   margin: 5px 0 30px 0;
  }
  .src-blnc .splitHead{
   margin-top: 30px;
   }
   .bg-inner{
    background: url('./assets/inner-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 167px;
   }
   .fixed-filter{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    text-align: center;
    margin-bottom:30px;
   }
    .MuiAppBar-colorPrimary {
    color: #989898 !important;
    background-color: #fff !important;
    font-size: 16px !important;
  }
  .lang-btn{
    color: #0195ff !important;
    font-family: 'Proxima-Medium';
    cursor: pointer;
  }
  .sourcer-home .srcFeature{
  text-align: center;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 30px 30px;
  height: 300px;
  border-radius: 4px;
  border: 2px solid #0195ff;
  
  }
  .sourcer-home .srcFeature .featureHead{
    font-size: 22px;
    font-family: 'Proxima-Medium';
    padding: 20px 0;
  }
  .sourcer-home .srcFeature  p {
    font-size: 16px;
    color: #000;
  }
  .howWorks{
    padding: 3em 0;
  }
  .getStart{
    background: #fff;
    box-shadow: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #0195ff !important;
    font-family: 'Proxima-Medium';
  }
  .sourcer-home .features{
    background: url('./assets/feature-dots.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    background-position: bottom;
  }
  .sourcer-home .howWorks p{
    color: #989898;
    font-size: 18px;
    padding-top: 10px;
  }
  .text-left{
    text-align: right;
  }
  .mLR0{
    margin-right: 0;
    margin-left: 0;
  }
  .howRow{
    margin: 30px -15px;
  }
  .bigFont{
    font-size: 90px;
    color: #0195ff;
    font-family: 'Proxima-Medium';
    opacity: 0.2;
    text-align: center;
    display: inline-block;
  }
  .bigFontSec{
    text-align: center;
  }
  .bigFontSec img{
    position: relative;
    left: 20px;
    top: -19px;
  }
  .slider-sec{
    background: #FAFAFA;
    padding: 3em 0;
  }
  .slider-sec img{
    transform: unset !important;
    border-radius: 0;
    height: auto;
    width: auto;
  }
  .howSlider img{
    transform: unset !important;
    border-radius: 0;
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  .howSlider .splitHead {
    padding-top: 5em;
  }
  .howSlider p {
    font-size: 16px;
    color: #000;
    padding-top: 20px;
    padding-left: 50px;
  }
  
  .slider-sec .featureHead {
    font-size: 22px;
    font-family: 'Proxima-Medium';
    padding: 0px 0;
  }
  .slider-sec p {
    font-size: 16px;
    color: #000;
    padding-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .sL-prev{
    position: absolute;
    top: 30px;
    right: 0;
    width: auto !important;
    cursor: pointer;
  }
  .sL-next{
    position: absolute;
    top: 30px;
    left: 0;
    width: auto !important;
    cursor: pointer;
  }
  table td .btn-approve{
    margin: 0 10px;
  }
  table td .btn-decline{
    margin: 0 10px;
  }
  table td .btn-info{
    margin: 0 10px;
  }
  .MuiDrawer-root  .MuiSvgIcon-root {
    font-size: 2.5rem !important;
  }
  .howSlider{
    padding: 3em 0;
  }
  .howSlider .row{
    padding: 0 3em;
  }
  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #0195ff !important;
  }
  .slick-dots li button:before{
    color: #0195ff !important;
  }
  .splitCol .col-md-5 img{
      width: 100%;
  }
  .reqImg{
      width: auto !important;
  }
  .arabic-dir-right{
    direction: rtl;
    display: flex;
  }