/* @font-face {
  font-weight:700;
  src: url("./assets/fonts/Proxima-B.otf") format("opentype");
}

@font-face {
  font-weight:100;
  src: url("./assets/fonts/Proxima-L.otf") format("opentype");
}

@font-face {
  font-weight:400;
  src: url("./assets/fonts/Proxima-R.otf") format("opentype");
}

@font-face {
  font-weight:600;
  src: url("./assets/fonts/Proxima-M.otf") format("opentype");
}

@font-face {
  font-family: "Proxima-Thin";
  src: url("./assets/fonts/Proxima-T.otf") format("opentype");
} */

@font-face {
  font-family: "FontAwesome";
  src: url("./assets/fonts/fontawesome-webfont.ttf") format("truetype");
}

/*************** Start native scrollbar styling ***************/

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid #e0dfdf;
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
  -webkit-border-radius: 10px;
  border-radius: 6px;
  /*background: #E0DFDF;*/
  width: 10px;
  /*background: url('images/scrollbar-thumb-horizontal.png') 0;*/
  background: #cccccc80;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #cccccc;
}

::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 10px;
  border-radius: 6px;
  /*background: #E0DFDF;*/
  width: 10px;
  /*background: url('images/scrollbar-thumb-vertical.png') 0;*/
  background: #cccccc80;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #cccccc;
}

/*************** End native scrollbar styling ***************/

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 14px !important;
  -webkit-print-color-adjust: exact;
}

code {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
}
.MuiTypography-body1 {
  font-size: 14px !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.auth-white-bg {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 20px;
  margin-top: 6em;
}
.auth-white-bg form {
  text-align: left;
}
.MuiFormControl-root {
  width: 100%;
}
.MuiInputLabel-formControl {
  font-size: 12px !important;
}
.MuiInputBase-input {
  font-size: 14px !important;
}
.auth-white-bg .MuiButton-containedPrimary {
  background-color: #0195ff !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  width: 100%;
}
.auth-btns {
  margin-top: 30px;
}
.linkedin-btn {
  background-color: #0083a8 !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  width: 100%;
  color: #fff !important;
  margin-top: 20px !important;
}
.auth-btns-mini .MuiButton-containedPrimary {
  background-color: #0195ff !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  width: 120px;
}
.layout-reg {
  background: url("./assets/reg-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
}
.blackHead {
  font-size: 24px;
  font-weight:600;
}
.blueHead {
  font-size: 24px;
  font-weight:600;
  color: #0195ff;
  margin-bottom: 50px;
}
.blurText {
  color: #989898;
  font-size: 18px;
  margin: 20px 0;
}
.anchor {
  color: #0195ff;
  cursor: pointer;
}
.anchor:hover {
  color: #0195ff;
  cursor: pointer;
}
.semibold {
  font-weight:600;
}
.font24 {
  font-size: 24px;
}
.shortBorder {
  text-align: center;
  width: 100px;
  height: 3px;
  margin: 5px auto;
  background: #0195ff;
}
.thankyou {
  padding: 50px 30px;
}
.auth-white-bg .form-group {
  position: relative;
  margin-bottom: 25px;
}
.invalid-feedback {
  position: absolute;
  color: red;
  font-size: 12px;
}
label {
  font-weight:600;
}
.square-box {
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 29px;
  color: #989898;
  text-align: center;
  padding: 55px 0;
  cursor: pointer;
}
.square-box:hover {
  border-color: #0195ff;
}
.square-box:active {
  border-color: #0195ff;
}
.square-box:focus {
  border-color: #0195ff;
}

.next-btn {
  justify-content: flex-end;
  display: flex;
}
.next-btn button {
  width: 176px !important;
  margin-top: 30px;
}
.access .square-box {
  padding: 4px 0;
}
.img-text {
  font-size: 12px;
  color: #000;
}
.file-drop {
  border: 1px dashed #ccc;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.login-section {
  background: url("./assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: bottom;
}
.login-form-bg {
  background: #fafafa;
  padding: 60px 60px;
  width: 600px;
  border-bottom-right-radius: 60px;
  position: absolute;
}
.form-group {
  text-align: left;
}
.img-dots {
  position: absolute;
  bottom: 150px;
}

.login-form-bg .auth-white-bg {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin-top: 0 !important;
}
.login-form-bg .anchor {
  display: flex;
  justify-content: flex-end;
}
.form-control {
  background-color: #fff !important ;
  box-shadow: none !important;
}
.emp {
  background: #efefef;
  display: inline-block;
  color: #989898;
  padding: 3px 10px;
  border: 1px solid #ccc;
  width: 200px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
}
.sour {
  background: #efefef;
  display: inline-block;
  color: #989898;
  padding: 3px 10px;
  border: 1px solid #ccc;
  width: 200px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
.top-login-nav {
  padding-bottom: 50px;
}
.gen-tab {
  cursor: pointer;
}
.gen-tab-active {
  border-color: #0195ff !important;
  background: #e1f0fb !important;
  color: #0195ff !important;
}
.hero-section {
  background: url("./assets/home-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 137vh;
}
.sourcer-home .hero-section {
  background: url("./assets/sourcer-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 87vh;
}
.banner-text {
  padding: 17em 0 0 0;
}
.hero-section .blackHead {
  font-size: 35px;
  font-weight:700;
}
.hero-section .shortBorder {
  text-align: left;
  width: 100px;
  height: 3px;
  margin: 5px 0;
  background: #0195ff;
}
.banner-text p {
  color: #989898;
  font-size: 18px;
  padding: 25px 0;
}
.hero-section .blackSubHead {
  font-size: 22px;
  font-weight:700;
}
.banner-text img {
  margin: 0 15px;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.firstFeature {
}

.splitCol {
  background: #fff;
  padding: 2em 0;
}
.splitHead {
  font-weight:600;
  font-size: 24px;
  color: #000;
}
.splitCol .shortBorder {
  text-align: left;
  width: 100px;
  height: 3px;
  margin: 5px 0;
  background: #0195ff;
}
.splitCol p {
  color: #989898;
  font-size: 18px;
  padding-top: 20px;
}
.firstSplit img {
  float: right;
}
.firstSplit .info {
  padding: 13em 0 0 0;
}
.secondSplit img {
  float: left;
}
.secondSplit .info {
  padding: 10em 0 0 0;
}
.splitCol .blackSubHead {
  font-size: 22px;
  font-weight:700;
  padding-top: 30px;
}
.reqImg {
  float: none;
  position: relative;
  right: -10px;
}
.blueSec {
  background: #0195ff;
  height: 258px;
  padding: 4em;
  text-align: center;
  position: relative;
}
.bluesecHead {
  font-size: 40px;
  font-weight:700;
  padding-bottom: 30px;
  color: #fff;
}
.blueSec img {
  position: absolute;
  left: 103px;
  top: 2px;
}
.blueSec .form-control {
  width: 350px;
  margin: 0 auto;
  height: 46px;
}
.inputBlue {
  position: relative;
  width: 350px;
  margin: 0 auto;
}
.inputBlue .reqImg {
  position: absolute;
  right: 5px;
  left: unset;
  top: 3px;
}
.secondSplit .reqImg {
  float: none;
}
.appFooter {
  background: #0195ff;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}
.features img {
  position: relative;
}
.firstFeature .featureHead {
  position: absolute;
  top: 146px;
  z-index: 9;
  left: 153px;
  font-size: 22px;
  font-weight:600;
}

.firstFeature p {
  position: absolute;
  top: 224px;
  z-index: 9;
  left: 61px;
  font-size: 16px;
  color: #000;
  width: 295px;
}
.secondFeature .featureHead {
  left: 140px;
}
.thirdFeature .featureHead {
  left: 118px;
}
.features {
  padding: 3em 0;
}
.reg-nav li {
  list-style: none;
  display: inline;
  margin-left: 30px;
}
.nofill {
  height: 12px;
  width: 12px;
  border: 1px solid #989898;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.high {
  font-weight:600;
  color: #0195ff;
}

.fill {
  height: 15px;
  width: 15px;
  border: 1px solid #0195ff;
  display: inline-block;
  border-radius: 50%;
  background: #0195ff;
  text-align: center;
  line-height: 1;
  margin-right: 10px;
}
.fill i {
  color: #fff;
  font-size: 10px;
}
.reg-nav {
  padding-bottom: 30px;
  padding-left: 0px;
}
.nofill i {
  display: none;
}
.nohigh {
  color: #989898;
}
.auth-white-bg .blueHead {
  text-align: center;
}
thead {
  background: #e1f0fb;
}
.table-link {
  background: #e1f0fb;
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #0195ff;
  font-weight:700;
  border-radius: 50%;
  line-height: 1.7;
  border: 1px solid #0195ff;
  cursor: pointer;
  margin-right: 10px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 2.428571;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px solid #ddd;
  font-weight:700;
}
.table-responsive {
  box-shadow: 0 0 5px #ccc;
}
.listing-admin .blackHead {
  padding-bottom: 20px;
}
.btn-approve {
  font-size: 16px;
  background: #0195ff;
  color: #fff;
  font-weight:600;
}
.btn-decline {
  background: #e1f0fb;
  color: #0195ff;
  font-weight:600;
  font-size: 16px;
}
.btn-cancel {
  background: #989898;
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  font-weight:600;
  font-size: 16px;
}
.data-card {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  border-radius: 4px;
}
.data-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
.data-img img {
  width: 100%;
  border-radius: 50%;
}
.data-info {
  text-align: center;
}
.data-card-head {
  font-size: 16px;
  font-weight:600;
  padding-top: 10px;
  color: #575757;
}
.data-card-light {
  color: #a5adb2;
  font-size: 14px;
}
.data-card-subhead {
  /* padding: 0 0 5px 0; */
  font-size: 14px;
}
.data-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin: 20px 0;
}
.data-desc {
  text-align: left;
}
.data-btns button {
  margin: 30px 10px;
}
.data-card .MuiAppBar-colorPrimary {
  color: #989898 !important;
  background-color: #fff !important;
  font-size: 16px !important;
  box-shadow: none !important;
}
.MuiTabs-indicator {
  background-color: #0195ff !important;
}
.MuiTab-root {
  font-size: 16px !important;
  text-transform: capitalize !important;
}
.layout-home .navbar-background {
  background-color: transparent !important;
}
.layout-home .navbar .buttons-wrapper button {
  background-color: transparent !important;
}
.layout-home .navbar {
  position: absolute;
  width: 100%;
}
.alert {
  min-width: 30%;
  text-align: left;
  top: 0;
  /* left: 36%; */
  position: fixed;
  z-index: 100001;
  padding: 0;
  color: #fff;
  font-size: 16px;
  height: 50px;
  /* -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.37); */
  /* text-align: center; */
  display: block;
  border: 0px !important;
  border-radius: 4px;
  background: #FBFBFB;
}
.alert-danger {
  border-color: transparent !important;
  box-shadow: 0 0 10px 0 rgb(193 129 129);
}

.alert-success {
  border-color: transparent !important;
  box-shadow: 0 0 10px 0 rgb(168 241 165);
}

.alert-info {
  border-color: transparent !important;
  box-shadow: 0 0 10px 0 rgb(128 174 208);
}
.alert-warning {
  border-color: transparent !important;
  box-shadow: 0 0 10px 0 #e29d5f;
}
.job-bg {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  border-radius: 4px;
  margin-top: 30px;
  position: relative;
  min-height: 300px;
}

.job-box {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
  border-top: 5px solid #0195ff;
  cursor: pointer;
}
.job-box:hover {
  box-shadow: 0 0 20px #ccc;
}
.mini-head {
  color: #575757;
  font-weight:600;
  font-size: 18px;
  float: left;
}
.head-sec {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  display: flow-root;
  margin-bottom: 20px;
}
.job-bg .filter {
  float: right;
}
.highlight-filter {
  background: #0195ff !important;
  color: #fff !important;
}
.active-filter {
  background: #efefef;
  color: #989898;
  height: 25px;
  display: inline-block;
  width: 106px;
  line-height: 2;
  text-align: center;
  cursor: pointer;
}
.non-active-filter {
  background: #efefef;
  color: #989898;
  height: 25px;
  display: inline-block;
  width: 106px;
  line-height: 2;
  text-align: center;
  cursor: pointer;
}
.remain-box {
  background: #e1f0fb;
  height: 70px;
  width: 70px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #0195ff;
  font-weight:700;
  border-radius: 50%;
  line-height: 1.7;
  border: 1px solid #0195ff;
  cursor: pointer;
}
.light-mini {
  font-size: 10px;
  font-weight:100;
  position: relative;
  top: -16px;
}
.mega-number {
  font-size: 28px;
  line-height: 2;
}
.remain-img-box {
  background: #efefef;
  height: 56px;
  width: 56px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #989898;
  font-weight:700;
  border-radius: 50%;
  line-height: 2.5;
  border: 1px solid #efefef;
  cursor: pointer;
}
.layout-sourcer {
  background: #f8f9fc;
  padding-bottom: 30px;
  /* padding-top: 4em; */
}
.plain {
  text-align: center;
  padding: 0 20px;
  height: inherit;
  display: inline-block;
  cursor: pointer;
}
.filters-inbox {
  background-image: url("./assets/blur-bg.png");
  width: 600px;
  margin: 0 auto;
  height: 51px;
  line-height: 4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -92px;
  margin-bottom: 30px;
}
.active {
  background: #0195ff;
  color: #fff;
  font-weight:700;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.sub-info {
  margin-bottom: 20px;
}
.bold-head {
  font-size: 16px;
  font-weight:600;
  color: #2b2b2b;
}
.bold-clr-head {
  font-size: 16px;
  font-weight:600;
  color: #0195ff;
}
.sub-row {
  padding: 0 0 0 30px;
  display: inline-block;
}
.sub-info-right {
  justify-content: flex-end;
  display: flex;
}
.sub-info-box {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  border-radius: 4px;
}
.feature-set {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  text-align: center;
}
.feature-set i {
  padding-right: 10px;
}

.feature-set .text {
  color: #989898;
  text-align: left;
}
.feature-set-row {
  display: inline-block;
  padding: 0 30px;
}
.feature-set .bold-head {
  text-align: left;
}
.feature-set-info {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #ccc;
}
.light-text {
  color: #989898;
}
.sub-feature {
  margin-bottom: 15px;
}
.shortBorder-head {
  text-align: center;
  width: 100px;
  height: 3px;
  margin: 5px 0 30px 0;
  background: #0195ff;
}
.MuiButton-containedPrimary {
  background-color: #0195ff !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  width: 100%;
}
.draft .sub-info-box {
  margin-bottom: 20px;
}
.job-details {
  width: 425px;
}
.jb-box {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 30px 15em;
  border-radius: 4px;
}
.react-wysiwyg-typescript-toolbar .rdw-option-active,
.react-wysiwyg-typescript-toolbar .rdw-option-wrapper:hover {
  background: #d2d2d2 !important;
}
.onText {
  font-size: 24px;
  font-weight:600;
  color: #2b2b2b;
  text-align: center;
  display: inline-block;
  padding: 0 30px;
}
.onsite {
  text-align: center;
  position: relative;
  margin: 30px 0;
}
.sep {
  height: 1px;
  background: #ccc;
  width: 290px;
  display: inline-block;
  position: relative;
  top: -5px;
}

.btn-job {
  margin-top: 30px;
  display: flow-root;
}
.pull-right {
  display: flex;
  justify-content: flex-end;
}
.pull-left {
  float: left;
}
.btn-job .btn-approve {
  margin-left: 10px;
}
.activeCheck {
  color: #0195ff !important;
  border-color: #0195ff !important;
}
.check {
  color: #989898;
  border: 1px solid #e2e2e2;
  display: inline-block;
  border-radius: 4px;
  width: 139px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  font-size: 16px;
  font-weight:600;
  cursor: pointer;
  margin-right: 30px;
}
.check i {
  padding-right: 8px;
}
.objective .sep {
  background: #ccc;
  width: 28px;
}
.objective {
  margin: 30px 0;
}
.semibold-clrd-minihead {
  font-size: 18px;
  font-weight:600;
  color: #0195ff;
  padding: 0 3px;
}
.semibold-normal-minihead {
  font-size: 18px;
  font-weight:600;
  color: #2b2b2b;
  text-align: center;
}
.step-block {
  display: inline-block;
  text-align: center;
  float: left;
  margin: 30px 0 50px 0;
}
.arrowSte {
  padding: 35px 30px;
  float: left;
}
.step-block .semibold {
  padding: 10px 0 0 0;
  display: inline-block;
}
.steps {
  padding: 0 0px 0 43px;
}
.draft-filter {
  background: #efefef;
  color: #989898;
  height: 25px;
  display: inline-block;
  width: 106px;
  line-height: 2;
  text-align: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}
.roundImg {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 5px;
}
.job-card-btm .data-card-light {
  float: left;
}

.job-card-btm .data-card-light-green {
  display: flex;
  justify-content: flex-end;
  color: #09d501;
}
.job-card-btm {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 25px;
}
.emp-job .mini-head {
  margin-right: 25px;
  position: relative;
}
.emp-job .mini-head-active {
  color: #0195ff !important;
}
.mini-head-active::after {
  content: "";
  position: absolute;
  background: #0195ff;
  display: block;
  height: 2px;
  width: 67px;
  top: 34px;
}
.top-head button {
  display: flex;
  justify-content: flex-end;
  float: right;
}
.top-head .bold-head {
  float: left;
  position: relative;
  top: 16px;
}
.top-head {
  margin: 10px 0;
  display: flow-root;
}
.top-head i {
  font-size: 12px;
  padding: 0 5px;
  position: relative;
  top: 5px;
}
.table-link i {
  font-size: 16px;
}
.candidate .job-card-btm .data-card-light-green {
  display: flex;
  justify-content: flex-end;
  color: #09d501;
  position: relative;
  top: 10px;
}
.candidate-tabs {
  padding-top: 30px;
}
.bread-text {
  padding-bottom: 30px;
}
.lt-text {
  color: #989898;
}
.lt-text i {
  padding: 0 10px;
}
.lt-head {
  color: #0195ff;
  font-weight:700;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.track-order-list ul li.completed {
  border-color: #0195ff;
}
.track-order-list ul li:first-child {
  padding-top: 0;
}
.track-order-list ul li {
  position: relative;
  border-left: 2px solid #dee2e6;
  padding: 0 0 14px 21px;
  display: flow-root;
}
.track-order-list ul li:before {
  content: "";
  position: absolute;
  left: -7px;
  top: 0;
  height: 12px;
  width: 12px;
  background-color: #0195ff;
  border-radius: 50%;
  border: 3px solid #fff;
}
.mb-1,
.my-1 {
  margin-bottom: 0.375rem !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.text-muted {
  color: #98a6ad !important;
  display: flex;
  justify-content: flex-end;
}
.track-order-list {
  text-align: left;
}
.track-order-list h5 {
  font-size: 16px;
  font-weight:600;
  color: #575757;
  float: left;
}
.mb5 {
  margin-bottom: 5px;
}
b,
strong {
  font-weight:600;
  color: #2b2b2b;
}
.sub-feature .bold-head {
  padding-bottom: 5px;
}
a {
  color: #0195ff !important;
}

.head-sec .bread-text {
  padding-bottom: 0px !important;
  float: left;
}

.book-right {
  background: url("./assets/book-meeting.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding: 20px 30px;
}
.book-meeting {
  padding: 30px 0;
}
.book-right .bold-head {
  color: #fff;
}
.duration-slots-box {
  color: #fff;
  text-align: center;
  display: inline-block;
  border: 1px solid #fff;
  height: 25px;
  width: 100px;
  line-height: 1.7;
  margin: 10px 0;
  cursor: pointer;
}
.border-rad-0 {
  border-radius: 0px;
}
.border-L-4 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.border-R-4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.duration-slots {
  margin-bottom: 30px;
}
.transp-select {
  border: 0;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
.transp-select option {
  background: rgb(38 138 208);
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
}
:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
.time-row {
  padding: 15px 0 20px 0;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.tActive .fa {
  color: #fff !important;
}
.time-row .fa {
  color: transparent;
  display: flex;
  justify-content: flex-end;
}
.text-white-time {
  float: left;
  color: #fff;
}
.time-slots {
  margin: 30px 0;
  max-height: 290px;
  overflow-y: auto;
}
.book-left {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px 30px;
  height: 600px;
}

.p0 {
  padding: 0 !important;
}
.slick-center img {
  -ms-transform: scale(2);
  transform: scale(2);
}
.slider-text {
  display: none;
}
.slick-center .slider-text {
  display: block !important;
  white-space: pre;
  position: relative;
  top: 40px;
}
.slick-slide img {
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
.slick-slide {
  min-height: 180px !important;
  text-align: center;
}

.slick-slider {
  margin: 30px 0;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 0px solid #a0a096 !important;
  font-family: inherit !important;
  margin: 0 auto;
}
abbr[data-original-title],
abbr[title] {
  cursor: default !important;
  border-bottom: 0px dotted #777 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #0195ff !important;
}

.react-calendar__navigation button {
  font-size: 20px;
  color: #0195ff;
  font-weight:600;
}
.react-calendar__month-view__weekdays__weekday {
  font-size: 14px;
  font-weight:600;
}
abbr[title] {
  text-decoration: none !important;
}
.activeSlot {
  font-weight:700;
}
.btn-book {
  width: 150px;
  height: 40px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-weight:600;
  font-size: 18px;
  margin-top: 30px;
}
.switchBox {
  display: flow-root;
}
.green {
  color: #09d501;
}
.empJB .job-box {
  padding: 15px 30px 30px 30px;
  height: 270px;
}
.switchBox .MuiSwitch-root {
  top: -10px;
}
.MuiSwitch-colorPrimary.Mui-checked {
  color: #0195ff !important;
}

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #0195ff !important;
}
.loading .MuiCircularProgress-colorPrimary {
  color: #ffffff !important;
  width: 15px !important;
  height: 15px !important;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.tag-Input {
  position: relative;
}
.add-tag {
  position: absolute;
  right: 24px;
  top: 32px;
  background: #0195ff;
  color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 1.4;
  cursor: pointer;
}
.tag-output li {
  list-style: none;
  margin-right: 2px;
  color: white;
  background: #0195ff;
  display: inline;
  padding: 2px 7px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 5px;
}
.tag-output {
  padding: 5px 0 0 0;
}
.close-tag {
  padding-left: 5px;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  top: 1px;
}
.alert .fa {
  position: absolute;
  right: 7px;
  cursor: pointer;
  top: 5px;
}
.login-section .brand {
  margin: 0;
  color: #0195ff;
  position: relative;
  top: -40px;
  cursor: pointer;
}
.layout-home .appHeader {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  background: url("./assets/navbar-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55px;
  top: -3px;
}
.nav-drop img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.MuiMenuItem-root {
  font-size: 14px !important;
}
.MuiAppBar-root .MuiTypography-noWrap {
  flex-grow: 1;
}
.ad-bt {
  width: 100%;
  text-align: center;
  border-radius: 4px;
}
.MuiPopover-paper {
  margin: 37px 64px;
}
.thankyou-padding {
  padding: 90px 30px;
}
.react-tel-input .form-control {
  width: 100% !important;
}
.action-links-job img {
  padding-right: 7px;
  cursor: pointer;
}
.job-req .filter {
  float: right;
}
.job-req .blackHead {
  float: left;
}
.MuiDialogTitle-root h6 {
  font-size: 24px;
  font-weight:600;
}
.job-pop-btns button {
  margin: 10px 10px;
}
.head-job-pop {
  margin: 10px 0;
}
.red {
  color: red !important;
  cursor: pointer;
}
.MuiCircularProgress-colorPrimary {
  color: #0195ff !important;
  position: absolute;
  left: 50%;
  top: 50%;
}
.balance-box {
  background: #e1f0fb;
  padding: 5px;
  border-radius: 4px;
  color: #0195ff;
  font-weight:600;
}
.cand-light-text {
  position: relative;
  top: 10px;
  float: right !important;
}
.cand-box {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.cand-head {
  background: #e1f0fb;
  color: #0195ff;
  padding: 10px;
  font-weight:700;
}
.cand-row {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  display: flow-root;
}
.cand-row .left {
  float: left;
}
.cand-row .right {
  float: right;
}
.cand-row .blue {
  color: #0195ff;
  font-weight:600;
  position: relative;
  top: 20px;
  cursor: pointer;
}
.cand-row:hover {
  background: #efefef;
}
.src-blnc .white-box {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  padding: 20px;
  height: 100px;
  position: relative;
}
.src-blnc {
  margin: 30px 0;
}
.clr-head {
  color: #0195ff;
}
.div-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.border-LR {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.row-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.src-blnc .shortBorder {
  text-align: left;
  margin: 5px 0 30px 0;
}
.src-blnc .splitHead {
  margin-top: 30px;
}
.bg-inner {
  background: url("./assets/inner-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 140px;
}
.fixed-filter {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}
.MuiAppBar-colorPrimary {
  color: #989898 !important;
  background-color: #fff !important;
  font-size: 16px !important;
}
.lang-btn {
  color: #0195ff !important;
  font-weight:600;
  cursor: pointer;
}
.sourcer-home .srcFeature {
  text-align: center;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 30px 30px;
  height: 300px;
  border-radius: 4px;
  border: 2px solid #0195ff;
}
.sourcer-home .srcFeature .featureHead {
  font-size: 22px;
  font-weight:600;
  padding: 20px 0;
}
.sourcer-home .srcFeature p {
  font-size: 16px;
  color: #000;
}
.howWorks {
  padding: 3em 0;
}
.getStart {
  background: #fff;
  box-shadow: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #0195ff !important;
  font-weight:600;
}
.sourcer-home .features {
  background: url("./assets/feature-dots.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  background-position: bottom;
}
.sourcer-home .howWorks p {
  color: #989898;
  font-size: 18px;
  padding-top: 10px;
}
.text-left {
  text-align: left;
}
.mLR0 {
  margin-left: 0;
  margin-right: 0;
}
.howRow {
  margin: 30px -15px;
}
.bigFont {
  font-size: 90px;
  color: #0195ff;
  font-weight:600;
  opacity: 0.2;
  text-align: center;
  display: inline-block;
}
.bigFontSec {
  text-align: center;
}
.bigFontSec img {
  position: relative;
  right: 20px;
  top: -19px;
}
.slider-sec {
  background: #fafafa;
  padding: 3em 0;
}
.slider-sec img {
  transform: unset !important;
  border-radius: 0;
  height: auto;
  width: auto;
}
.howSlider img {
  transform: unset !important;
  border-radius: 0;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.howSlider .splitHead {
  padding-top: 5em;
}
.howSlider p {
  font-size: 16px;
  color: #000;
  padding-top: 20px;
  padding-right: 50px;
}

.slider-sec .featureHead {
  font-size: 22px;
  font-weight:600;
  padding: 0px 0;
}
.slider-sec p {
  font-size: 16px;
  color: #000;
  padding-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}
.sL-prev {
  position: absolute;
  top: 30px;
  left: 0;
  width: auto !important;
  cursor: pointer;
}
.sL-next {
  position: absolute;
  top: 30px;
  right: 0;
  width: auto !important;
  cursor: pointer;
}
table td .btn-approve {
  margin: 0 10px;
}
table td .btn-decline {
  margin: 0 10px;
}
table td .btn-info {
  margin: 0 10px;
}

.rdt_TableBody .btn-approve {
  margin: 0 5px;
  font-size: 12px;
}
.rdt_TableBody .btn-decline {
  margin: 0 5px;
  font-size: 12px;
}
.rdt_TableBody .btn-info {
  margin: 0 5px;
  font-size: 12px;
  font-weight:600;
}

.MuiDrawer-root .MuiSvgIcon-root {
  font-size: 2.5rem !important;
}
.howSlider {
  padding: 3em 0;
}
.howSlider .row {
  padding: 0 3em;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #0195ff !important;
}
.slick-dots li button:before {
  color: #0195ff !important;
}
.detail-link {
  padding: 10px 0px;
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 14px;
}
.rate-box {
  background: #0195ff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  padding: 28px 20px;
  height: 100px;
  position: relative;
  color: #fff;
  text-align: center;
}
.bold-head-white {
  font-size: 16px;
  font-weight:600;
  color: #fff;
}
.disq:before {
  background-color: red !important;
}
.disq {
  border-color: transparent !important;
}
.bold {
  font-weight:600;
}
.autocom {
  font-size: 14px;
}
.autocom input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.admin-text {
  padding: 0 20px;
  color: #0195ff;
  font-size: 16px;
  width: 137px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.declined {
  position: absolute;
  left: 25px;
  font-size: 13px;
  top: 10px;
}
.rdt_TableHeadRow {
  background: #c8e8ff !important;
}
.rdt_TableCol {
  font-size: 16px !important;
  font-weight:700;
}
.none {
  display: none;
}
.data-table-extensions-action {
  display: none !important;
}
.data-table-extensions > .data-table-extensions-filter > .filter-text {
  border: 0;
  border-bottom: 1px solid #0195ff;
  outline: none;
  padding: 4px;
  margin-left: 4px;
  background-color: transparent;
}

.data-table-extensions > .data-table-extensions-filter {
  float: right !important;
  margin-bottom: 20px;
}
.rdt_TableBody .btn {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.border-rad-L-6 {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.border-rad-R-6 {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.MuiTooltip-tooltip {
  font-size: 14px !important;
}
.MuiTypography-body1 {
  font-weight:400;
}
.show-reason {
  position: absolute;
  right: 32px;
  top: 14px;
}
.appColor div {
  color: #989898 !important;
}
.weekFilter {
  margin: 20px 0;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 5px #ccc;
  border-radius: 6px;
}
.weekText {
  margin: 20px 50px 0 50px;
  display: inline-block;
  color: #0195ff;
  cursor: pointer;
}
.weekText img {
  margin-right: 10px;
  margin-left: 10px;
}
.sqActive {
  border-color: #0195ff;
}
.boardBox .detail-link {
  position: unset !important;
}
.boardBox {
  padding: 12px;
  margin-bottom: 10px;
}
.cardStatus {
  border-top: 1px solid #ccc;
  display: flow-root;
}
.cardStatus .MuiSwitch-root {
  top: 5px;
}
.cardStatus ul {
  padding: 16px 16px 0px 0px;
  text-align: left;
}
.cardStatus ul .liS-blue {
  color: #46b2ff;
  font-size: 13px;
  font-weight:600;
}

.cardStatus ul .liS-gray {
  color: #a5adb2;
  font-size: 13px;
  font-weight:600;
}

.cardStatus ul .liS-red {
  color: red;
  font-size: 13px;
  font-weight:600;
}
.cardStatus ul .liS-orange {
  color: #ff7800;
  font-size: 13px;
  font-weight:600;
}
.cricle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.liS-blue .cricle {
  background: #46b2ff;
}
.liS-red .cricle {
  background: red;
}
.liS-orange .cricle {
  background: #ff7800;
}

.liS-gray .cricle {
  background: #a5adb2;
}
.detail-link-btn {
  color: #46b2ff;
  padding-bottom: 10px;
}
.topNavBoard {
  margin-bottom: 25px;
}
.topNavBoard i {
  padding-right: 5px;
}
.topNavBoard .data-card-light {
  font-size: 12px;
}
.topNavBoard .fa-clock {
  position: relative;
  top: 2px;
}
.hGNEak {
  border-radius: 3px;
  border-bottom: 0px solid #ccc !important;
  background-color: transparent !important;
  position: relative;
  padding: 0px !important;
  cursor: pointer;
  max-width: 250px;
  margin-bottom: 7px;
  min-width: 230px;
}
.gCkNSQ {
  border-bottom: 0px solid #eee !important;
}
.hFLyXT::-webkit-scrollbar-track {
  border: 0px !important;
}

.hFLyXT::-webkit-scrollbar {
  width: 6px;
}

.hKzcxB::-webkit-scrollbar-track {
  border: 0px !important;
}

.hKzcxB::-webkit-scrollbar {
  width: 6px;
}

@media only screen and (max-width: 768px) {
  .cand-box{
    margin-bottom: 30px;
  }
  .secondSplit img {
    width:100%;
}
.firstSplit img {
width:100%;
}
.reqImg{
  width: auto !important;
}
.features img {
  position: relative;
  width: 100%;
}
.banner-text {
  padding: 5em 16px 0 12px;
}
.hero-section {
  height: auto;
  padding: 0px;
  background: none;
}
.hero-section .blackHead {
  font-size: 22px;
  font-weight:700;
}
.banner-text p {
  color: #989898;
  font-size: 15px;
  padding: 25px 0;
}
.hero-section .blackSubHead {
  font-size: 20px;
  font-weight:700;
}
.firstFeature p {
  padding-right: 39px;
}
.splitCol {
  background: #fff;
  padding: 2em 25px;
}
.blueSec img {
 display: none;
}
.blueSec {
  height: auto;
}
.inputBlue {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.blueSec .form-control {
  width: 200px;
  margin: 0 auto;
  height: 46px;
}
.sL-prev {
  left: 29px;
}
.sL-next {
  right: 29px;
}
.img-dots{
  display: none !important;
}
.login-section{
  background: none !important;
}
.login-form-bg {
  width: auto;
  position: relative;
}
.emp, .sour{
  width: 100px;
}
.mini-head {
  float: unset;
}
.job-bg .filter {
  float: unset;
  padding: 0 !important;
  margin-top: 10px;
}
.bg-inner {
background: none;
height: 60px;
}
.active-filter, .draft-filter, .non-active-filter{
  width: 70px;
  font-size: 11px;
  line-height: 2.5;
}
.empJB .job-box {
  height: auto;
}
.weekText {
  margin: 20px 50px 11px 50px;
}
.btn-pdf {
  text-align: right !important;
  position: relative;
  top: 0 !important;
  margin-bottom: 15px;
}
.jb-box {
  padding: 30px;
}
.plain {
  padding: 0 14px;
  font-size: 14px;
}
.filters-inbox{
  margin-top: 0px;
  width: 100%;
}
.check {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
}
.feature-set-row {
  display: block;
  padding: 0 0px;
  margin-bottom: 30px;
}
.alert{
  width:100%;
  left:0;
}
.detail-link {
  padding: 10px 0px;
  display: block;
  position: relative;
  right: 0;
  top: 0;
}
.sub-row {
  padding: 0;
  display: block;
  margin-top: 10px;
}
.sub-info-right {
  justify-content: left;
  display: block;
}
.next-btn {

  margin-bottom: 20px;
}
.src-blnc .white-box {
  margin-bottom: 30px;
  height: auto;
}
.row-center{
  position: relative;
  top: unset;
  left: unset;
  transform: none;
}
.border-LR {
  border-left: 0px solid #ccc;
  border-right: 0px solid #ccc;
}
.data-card {
  padding: 10px;
}
.navbar .drawer .drawer-menu button:nth-last-child(1) {
  background: no-repeat;

}
.navbar .drawer .drawer-menu .MuiButton-text {
  border: 0 !important;
  background: none !important;
  background-color: none !important;
}
.sourcer-home .hero-section {
  height: auto;
  background: none !important;
}
.srcFeature img {
  position: relative;
  width: auto !important;
}
.sourcer-home .srcFeature {
 margin-bottom: 20px;
}
.sourcer-home .features {
  background: none;
}
.howSlider p {
  padding-right: 0;
}
.howSlider .row {
  padding: 0 4em;
}
.howSlider .splitHead {
  padding-top: 1em;
}
.firstSplit .info {
  padding: 0em 0 0 0;
}

.firstFeature .featureHead {
  font-size: 17px;
}
.track-order-list h5 {
  font-size: 12px;
}

.text-muted {
  font-size: 12px;
}
.bread-text {
  float: unset !important;
}
.MuiDrawer-docked{
  position: absolute;
}
.makeStyles-drawerClose-8 {
  width: 0px !important;
}
}
.fillBox{
  
  display: inline-block;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  margin: 0 20px;
  height: 185px;
}
.fillBox:hover {
  border: 2px solid #0195ff;
  cursor: pointer;
}
.fillBox.activeF {
  border: 2px solid #0195ff;
}
.fillOptions .fillBox.activeF {
  color: #0195ff;
}
.selectTemplate .feature-set-row {
  margin-bottom: 30px;
}
.selectTemplate .check {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.listing-content {
  max-height: 500px;
  overflow-y: auto;
}
.listing-content-row {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.listing-content-row:hover {
  background: whitesmoke;
  cursor: pointer;
}
.activeRow {
  background: whitesmoke;
}
.crossIco {
  color: red;
  cursor: pointer;
  font-size: 18px;
}
.jobOpts {
  text-align: center;
  margin: 20px 0;
}
.jobOpts-row {
  background: #f7f7f7;
  height: 40px;
  width: 180px;
  display: inline-block;
  font-weight:600;
  line-height: 2.9;
  cursor: pointer;
}
.jobOpts-active {
  background: #e1f0fb;
  color: #0195ff;
}

.sep {
  background: #ccc;
  height: 1px;
  width: 100%;
}
.soft-text {
  font-weight:100;
}
.parent-listing-row {
  padding: 10px;
  background: whitesmoke;
  font-weight:600;
  color: #000;
}
.listing-content-row:nth-last-child(1) {
  border: 0px !important;
}
.btn-pdf {
  text-align: left;
  position: relative;
  /* top: 35px; */
  display: block;
  /* float: left; */
  margin-bottom: 40px;
}
.ea-DvDJ {
  background: #0195ff;
  color: #fff;
  padding: 10px !important;
  border-radius: 6px;
  font-weight:600;
}
.iCgUGK {
  background-color: #efefef !important;
  /* min-height: 100vh; */
  margin-bottom: 30px;
}
.hKzcxB {
  background-color: #fff !important;
}
.boardContent {
  margin-top: 0px;
}
.cardStatus .pull-right .red,
.green {
  margin-left: 10px;
  display: inline-block;
  font-size: 13px;
  padding-bottom: 10px;
}
.modalOption {
  font-size: 16px;
  font-weight:600;
  padding-top: 10px;
  color: #575757;
  margin: 0 10px;
  padding-bottom: 5px;

  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.activeModal {
  border-bottom: 2px solid #0195ff;
}
.modalFilter {
  margin-bottom: 30px;
}
.modalCheck .check {
  color: #989898;
  border: 1px solid #e2e2e2;
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  text-align: left;
  line-height: 1.8;
  font-size: 16px;
  font-weight:600;
  cursor: pointer;
  margin-right: 0px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.w-100 {
  width: 100%;
}
.react-datepicker-wrapper {
  width: 100%;
}
.cardStatus ul .liS-green {
  color: green;
  font-size: 13px;
  font-weight:600;
}
.liS-red .green {
  background: green;
}
.invoiceTop{
  background: #0195ff;
  color: #fff;
  padding: 40px 40px 80px 40px;
}
.invoiceTopText{
  padding-bottom: 10px;
}
.logoCR{
  font-size: 7em;
    padding-top: 37px;
    text-align: center;
}
.invoiceSecond{
  background: #fff;
  /* box-shadow: 0 0 5px #ccc; */
  border-radius: 4px;
  padding: 30px 80px;
  margin: -63px 40px 40px 40px;
  position: relative;
}
.invoiceTable .table-responsive {
  box-shadow: none;
}
.invoiceParent{
  background: #f1f5f8;
  padding-bottom: 4em;
  min-height: 100vh;
}
.inHead{
  color: #0195ff;
    font-size: 16px;
}

.inSubHead{
  color: #000;
    font-size: 16px;
    margin-bottom: 30px;
}
.invoiceTable{
  margin: 100px 40px 40px 40px;
  background: #fff;
  position: relative;
}
.invoiceTable tbody{
  background: #fff;
}
.invoiceTable .table{
  margin-bottom: 0;
}
.invoiceTable tfoot{
  background: #e1f0fb;
  color: #000;
    font-size: 14px !important;
    font-weight:700;
}
.invoiceTable th{
  color: #0195ff;
  font-weight:100;
}
.totalInvoice{
  float: right;
  padding: 30px 30px 30px 0;
}
.totalRow{
  font-size: 18px;
  padding-bottom: 20px;
}
.totalRow span{
  /* padding: 0 30px; */
}
.blue{
  color: #0195ff;
}
.totalRow .float-right{
  float: right;
}
.textIn{
  padding-right: 20px;
}
.react-trello-board{
  background-color: #fff !important;
}
.react-trello-lane .sc-iBaPrD  {
  background: #0195ff;
  color: #fff;
  padding: 10px !important;
  border-radius: 6px;
  font-weight:600;
}
.react-trello-lane{
    background-color: #efefef !important;
}
.smooth-dnd-container .smooth-dnd-draggable-wrapper article{
  border-radius: 3px;
  border-bottom: 0px solid #ccc !important;
  background-color: transparent !important;
  position: relative;
  padding: 0px !important;
  cursor: pointer;
  max-width: 250px;
  margin-bottom: 7px;
  min-width: 230px;
}
.tableFoot{
  position: absolute;
  bottom: -62px;
  left: -31px;
  width: 100px;

}
.secondFoot{
  position: absolute;
  bottom: -62px;
  right: -31px;
  width: 100px;
}

.closed{
  pointer-events: none;
  opacity: 0.8;
}



.employerDashboard .data-card-head{
    width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.addNewPack .btn{
  float: right;
}
.addNewPack i{
  font-size: 14px;
  padding-right: 8px;
}
.packages-body{
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 6px;
}
.pointer{
  cursor: pointer;
}
.packageBox{
  margin: 20px 0;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 12px;
  border-top-left-radius: 70px;
  /* width: 300px; */
  margin: 0 auto;

}
.packageUpper{
  background: #0195FF;
  padding: 20px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  height: 130px;
  color: #fff;
  text-align: center;
}
.packageBox-body{
  padding: 30px;
  height: 300px;
}

.packageBox ul {
  list-style: none;
  padding: 0;
}

.packageBox ul li:before {
  content: '✓';
  color: #0195ff;
    padding-right: 10px;
}
.packageBox ul li {
  padding-bottom: 8px;
  text-align: left;
}
.package-price{
  font-weight:600;
    font-size: 24px;
    padding: 5px 0;
}

.packageBtns{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.packageBtns .btn{
  margin: 0 10px;
}
.btn-green {
  background: #C1F5BF;
  color: #09D501;
  font-weight:600;
  font-size: 16px;
  width: 70px;
}
.btn-red {
  background: #FAD8D8;
  color: #E96666;
  font-weight:600;
  font-size: 16px;
  width: 70px;
}
.packagesSection{
  padding: 4em 0;
}
.tabBox{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 6px;
}

.tabList{
    font-size: 16px;
    padding: 25px;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    font-weight:400;
}
.activeTab{
  color: #0195FF;
  background: #EBF7FF;
}
.tabContent{
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 6px;
  padding: 30px;
}
.tabContent .packageBox{
  width:100%;
  margin-bottom: 30px;
}
.selectPackageBtn{
  border: 3px solid #DBDBDB;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 0 auto 30px auto;
  cursor: pointer;
}

.activePackage{
  border: 3px solid #0195FF;
}
.job-pop-btns .btn{
  min-width:80px;
}
.profilePage{
  margin-top: 50px;
}
/* #packageModal .MuiDialogTitle-root {
  display: none !important;
}
#packageModal .MuiPaper-root{
  background: transparent !important;
    box-shadow: none !important;
}
#packageModal .packageBox{
  position: relative;
}

#packageModal i{
  right: -7px;
  font-size: 19px;
  top: -9px;
  color: #fff;
  cursor: pointer;
  position: absolute;
} */

/* .invoiceSecond::after{
  background: url("./assets/shape.png");
  content: "";
} */



/* NEW DESIGN */
.authLayout{
  background: url("./assets/banner-reg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  
  padding: 30px;
}
.auth-form {
  background: #fff;
  padding: 30px 30px 40px 30px;
  width: 650px;
  border-bottom-right-radius: 80px;
  position: relative;
}
.back-link{
  color: #000;
  font-size: 14px;
  font-weight:600;
  cursor: pointer;
  margin-bottom: 15px;
}
.back-link i{
  padding-right: 10px;
}
.auth-head{
  color: #0195FF;
  font-size: 22px;
  font-weight:600;
  margin-bottom: 15px;
}
.customInput .form-control{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
  padding-left: 0px;
  color: #000;
}
.customInput{
  position: relative;
}
.customInput i{
  position: absolute;
  right: 15px;
  bottom: 10px;
}
.customInput label{
  font-size: 13px;
  color: #989898;
  font-weight: 400 !important;
}
.customInput{
  margin-bottom: 20px;
}
.btn-auth{
  background: #0195FF;
  width: 180px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight:400;
}
.customInput .react-tel-input .form-control{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
  padding-left: 48px;
}
.customInput .react-tel-input .flag-dropdown{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
  background: transparent;
}
.phoneInput i{
  z-index: 99;
}
.auth-logo-img{
  position: absolute;
  right: 157px;
  top: 157px;
}
.topDots{
  position: absolute;
  right: -54px;
  top: -21px;
}

.bottomDots{
  position: absolute;
  left: -27px;
  bottom: -46px;
}
.MuiCircularProgress-colorSecondary{
  color: #ffffff !important;
  position: absolute;
  left: 24px;
  top: 7px;
  width: 20px !important;
  height: 20px !important;  
}
.btn{
  position: relative;
}
.newEmpLayout .MuiAppBar-colorPrimary{
  color: #fff !important;
  background-color: #0195FF !important;
  box-shadow: none !important;
}
.newEmpLayout .MuiDrawer-paperAnchorDockedLeft {
  background: #222D32 !important;
  color: #C4C4C4;
  padding-top: 45px;
}
.newEmpLayout .MuiDrawer-paperAnchorDockedLeft .MuiListItemIcon-root{
  color: #9AC2D5;
}
.newEmpLayout main{
  margin-top: 2.5em !important;
}
.widget{
  height: 68px;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    border-radius: 4px;
}
.widgetNumber{
  font-size: 33px;
  font-weight:700;
  padding-right: 10px;
  position: relative;
  top: 18px;
  float: right;

}
.widgetTitle{
  font-size: 14px;
  font-weight:600;
  text-align: center;
  padding-left: 20px;
  position: relative;
  top: -5px;

}
.widgetIcon{
  height: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff;
  width: 68px;
  font-size: 30px;
  line-height: 2.3;
}
.newEmpLayout .job-box {
  border-radius: 8px;
  border-top: 8px solid;
  display: flow-root;
  padding: 10px 15px;
  text-align: left;
  height: 178px;
  margin-bottom: 10px;
}
.newEmpLayout .job-box.closed {
  border-color: #E96666;
  opacity: 1;
}
.newEmpLayout .job-box.declined {
  border-color: #E96666;
  opacity: 1;
  position: relative;
  left: unset;
  top: unset;
}

.newEmpLayout .job-box.draft {
  border-color: #989898;
}
.newEmpLayout .job-box.draft .jobLabel{
  color: #989898;
  background: #EFEFEF;
}

.newEmpLayout .job-box.pending {
  border-color: #FF7800;
}
.newEmpLayout .job-box.pending .jobLabel{
  color: #FF7800;
  background: #FFEAD8;
}

.newEmpLayout .job-box.opened {
  border-color: #0195FF;
}
.newEmpLayout .job-box.opened .jobLabel{
  color: #0195FF;
  background: #D8EEFF;
}


.jobLabel{
  text-transform: capitalize;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
}
.newEmpLayout .job-box.closed .jobLabel{
  color: #E96666;
  background: #FBE7E7;
}
.newEmpLayout .job-box.declined .jobLabel{
  color: #E96666;
  background: #FBE7E7;
}
.clearBoth{
  clear: both;
}
.flowRoot{
  display: flow-root;
}
.newEmpLayout .job-card-btm {
  border-top: 1px solid #EFEFEF;
  padding-top: 18px;
  margin-top: 0px;
  display: flow-root;

}
.float-left{
  float: left;
}
.newFilters{
  background: #fff;
  height: 50px;
  margin: 0 -24px;
  position: relative;
  top: -15px;
  padding: 0 30px;
}
.newFilters .bold-head{
  padding: 15px 0;
}
.newFilters .btn-decline{
  height: 28px;
    margin: 11px 0px 11px 30px;
    font-size: 14px;
    font-weight:400;
    line-height: 0;
}
.newFilters .btn-decline i{
 padding-right: 8px;
}

.newfilterItem{
  font-size: 14px;
  font-weight:600;
  border-bottom: 2px solid transparent;
  padding: 15px 0px;
  margin: 0 20px;
  cursor: pointer;
}
.newfilterItem i{
  padding-right: 8px;
}
.newfilterItem.activeItem{
  color: #FF7800;
  border-bottom: 2px solid #FF7800;
}
.newEmpLayout .data-card-light{
  font-size: 12px;
}
.commonPage .auth-white-bg {
  border-radius: 6px;
  position: relative;
  padding: 40px;
}
.changeEmail{
  width: 300px;
  margin: 50px auto;
}
.blue{
  color: #0195FF;
}
.activeDrop .MuiListItemIcon-root {
 color: #fff !important;
}
.activeDrop .MuiTypography-root{
  color: #fff !important;
  font-size: 14px;
  font-weight:600;
}
.newEmpLayout .MuiListItem-root{
  border-left: 6px solid transparent;
  color: #9AC2D5;
}
.activeDrop{
  color: #fff !important;
    background: #3A4449;
    border-left: 6px solid #0195ff !important;
}
.profileBox{
  padding: 20px;
  background: #000;
}
.newEmpLayout .admin-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  margin: 0 10px;
}
.modalBg{
  position: absolute;
    /* width: 100px; */
    top: 0;
}

.newEmpLayout .MuiToolbar-regular{
  height: 45px !important;
  min-height: 45px !important;
}
.alert .fa-times-circle {
  position: absolute;
  right: 7px;
  cursor: pointer;
  top: 5px;
  color: #989898;
}
.alertText{
  color: #989898;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 30px;
}
.alert-success .alertBox{
  background: #09D501;
}
.alert-danger .alertBox{
  background: #E96666;
}
.alert-info .alertBox{
  background: #0195FF;
}
.alert-warning .alertBox{
  background: #FF7800;
}
.alertBox{
  color: #fff;
  height: 50px;
  width: 70px;
  display: inline-block;
  text-align: center;
  font-size: 26px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.alertBox i{
  position: relative;
    top: 7px;
}

.alert img{
  position: absolute;
    right: 36px;
}
.newEmpLayout .job-pop-btns button {
  margin: 10px 10px;
}
.newEmpLayout .head-job-pop {
  margin: 15px 0;
}

.newEmpLayout .job-card-btm .btn {
  position: relative;
  top: -5px;
  margin-left: 4px;
  line-height: 0.3;
  padding: 7px;
}
.fillOptions .fillBox {
  display: inline-block;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 6px;
  margin: 0 10px;
  height: 125px;
  box-shadow: 0 0 5px #ccc;
  width: 180px;
}

.fillOptions{
  margin-top: 30px;
}
.newFPassword{
  padding: 10px 30px;
}
.newEmpLayout .lt-head {
  color: #2B2B2B;
  font-weight:400;
  font-size: 14px;
}
.newEmpLayout .lt-head-bold {
  color: #2B2B2B;
  font-weight:600;
  font-size: 16px;
}
.newEmpLayout .lt-text {
  color: #2B2B2B;
}

.newEmpLayout .lt-head a {
  color: #2B2B2B !important;
}
.newEmpLayout .feature-set-info {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #EFEFEF;
}
.newEmpLayout .feature-set {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 20px;
  text-align: center;
}
.eBold{
  font-weight:700;
}
.font-16{
  font-size: 16px;
}
.newEmpLayout .feature-set-row i {
  padding-right: 10px;
}
.newEmpLayout .feature-set-row {
  padding: 20px 0 0 0 ;
}

.newEmpLayout .feature-set-row .bold-head {
  padding-bottom: 7px;
}
.side-set{
  border-top: 1px solid #efefef;
  margin-top: 25px;

}
.blueHead-18 {
  font-size: 18px;
  font-weight:600;
  color: #0195ff;
  margin-bottom: 20px;
  text-align: left;
}
.newEmpLayout .btn-job .btn{
  margin-left: 20px;
}
.jobPosting .newFilters {
  background: transparent;
  height: auto;
  margin: 0;
  position: relative;
  top: 0;
  padding: 0;
}
.activeTemp{
  background: #DEEFFC;
}
.newEmpLayout .add-tag {
  position: absolute;
  right: 15px;
  top: 32px;
  background: #0195ff;
  color: #fff;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 1.4 !important;
  cursor: pointer;
}
.newEmpLayout .tag-output li {
  list-style: none;
  margin-right: 5px;
  display: inline;
  padding: 2px 7px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  background: #e1f0fb;
  color: #0195ff;
  border: 1px solid #0195ff;
}
.newEmpLayout .tag-Input .form-control{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
  padding-left: 0px;
  color: #000;
  padding-right: 0;
}
.tag-Input label {
  font-size: 12px;
  color: #989898;
  font-weight:100;
  font-weight: 100 !important;
}
.customLabel {
  font-size: 12px;
  color: #989898;
  font-weight:100;
  font-weight: 100 !important;
}
.newEmpLayout .check {
  color: #989898;
  border: 1px solid #e2e2e2;
  display: inline-block;
  border-radius: 4px;
  width: 139px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  font-size: 16px;
  font-weight:400;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 6px;
}
.draftLink{
  font-weight:600;
  font-size: 16px;
  color: #0195ff;
  position: relative;
  top: 7px;
  cursor: pointer;

}
.head-job-pop .blackHead {
  font-size: 16px;
  font-weight:600;
}
.lableMini{
  display: inline;
  padding: .2em 1em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.blueBg{
  background: #0195ff;
}
.redBg{
  background: #E96666;
}
.orangeBg{
  background: #FF7800
}
.grayBg{
  background: #707070;
}
.newEmpLayout .customMenuList i{
  padding-right: 10px;
}

.customMenuList{
  padding: 10px 30px;
  color: #9AC2D5;
  cursor: pointer;
}
.customMenuList a{
  color: #9AC2D5 !important;
}
.newEmpLayout .MuiList-padding{
  padding-top: 0px;
}

/* #openDrawer{
  display: none !important;
} */
.MuiDrawer-paperAnchorRight  {
  background-color: transparent !important;
  box-shadow: none !important;
}
.previewClose{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 18px;
    font-size: 20px;
    position: absolute;
    left: 0;
}
.drawerBody{
  background: #fff;
  height: 100vh;
  width: 1100px;
  margin-left: 50px;
  padding: 20px;
  overflow-y: auto;
}

.miniDrawerBody{
  background: #fff;
  height: 100vh;
  width: 700px;
  margin-left: 50px;
  padding: 20px;
  overflow-y: auto;
}
.jobPosting .newfilterItem{
  pointer-events: none;
}
.newEmpLayout .tabList {
  font-size: 14px;
  padding: 20px 25px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
  font-weight:600;
}
.newEmpLayout .tabList i{
  padding-right: 10px;
}
.newEmpLayout .packageUpper {
  background: #0195FF;
  padding: 20px;
  border-top-right-radius: 100px !important;
  border-top-left-radius: 12px !important;
  border-radius: 0px;
  height: 130px;
  color: #fff;
  text-align: center;
}
.newEmpLayout .packageBox{
  background: #ebf7ff;
}
.newEmpLayout .packageBox-body {
  background: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.newJobBoard .job-box{
  border-radius: 6px;
  border-top: 8px solid;
  margin: 0 10px;
  height: auto;
}
.newJobBoard .job-box.OrangeCard{
  border-top: 8px solid #FF7800;
  box-shadow: 0 0 3px 0px #ff7800;
}

.newJobBoard .job-box.BlueCard{
  border-top: 8px solid #0195FF;
  box-shadow: 0 0 3px 0px #0195FF;
}

.newJobBoard .job-box.GreenCard{
  border-top: 8px solid #09D501;
  box-shadow: 0 0 3px 0px #09D501;
}

.newJobBoard .job-box.RedCard{
  border-top: 8px solid #E96666;
  box-shadow: 0 0 3px 0px #E96666;
}
.newJobBoard .job-box.GrayCard{
  border-top: 8px solid #DBDBDB;
  box-shadow: 0 0 3px 0px #DBDBDB;
}
.newJobBoard .react-trello-lane {
  background-color: #fff !important;
  border: 1px solid #DEDEDE;
  box-shadow: 0 0 2px #ccc;
  padding: 0px;
  width: 19.8%;
}
.newJobBoard .react-trello-board {
  background-color: #F7F9FB!important;
  max-width: 1050px;
  overflow-x: auto;
}
.newJobBoard .data-card-head {
  font-size: 14px;
  padding-top: 5px;
  color: #575757;
}

.newJobBoard .detail-link {
  font-size: 12px;
  padding: 0px;
  font-weight:600;
}
.newJobBoard .cardStatus {
  border-top: 1px solid #EFEFEF;
  display: flow-root;
}
.newJobBoard .react-trello-lane .sc-iBaPrD {
  background: #BACEE2;
  color: #fff;
  padding: 20px 10px !important;
  border-radius: 2px;
  font-weight:600;
}
.newJobBoard .cardStatus ul {
  padding: 13px 16px 0px 0px;
  margin: 0;
}
.align-left{
  text-align: left;
}
.bRadioBtn{
  text-align: left;
  padding-top: 13px;
}

.bRadio{
  color: #989898;
  padding-right: 15px;
  cursor: pointer;
  padding-top:7px;
  display: inline-block;
}
.bRadio i{
  border: 1px solid #989898;
  border-radius: 50%;
  padding: 2px 2px;
  font-size: 9px;
  height: 15px;
  width: 16px;
  text-align: center;
  margin-right: 5px;
}
.approveRadio.rActive{
  color: #09d501 !important;
}
.approveRadio.rActive i{
  color: #09d501 !important;
  border-color: #09d501 !important;
}

.disApproveRadio.rActive{
  color: #E96666 !important;
}
.disApproveRadio.rActive i{
  color: #E96666 !important;
  border-color: #E96666 !important;
}
.board-btn{
  height: 26px;
    width: 80px;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin-top: 8px;
}
.css-yk16xz-control{
  border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0px;
    padding-left: 0px;
    color: #000;
}
.css-1okebmr-indicatorSeparator{
  display: none;
}
.css-g1d714-ValueContainer{
  padding-left: 0px !important;
}
.newEmpLayout  .react-datepicker__input-container .form-control{
  background-color: transparent !important;
}
.miniDrawerBody .check{
  width: auto;
  height: auto;
  padding: 1px 15px;
  border-radius: 6px;
}
.flex-center{
  display: flex;
  justify-content: center;
}
/* .newJobBoard {
  max-width: 82%;
  overflow-x: auto;
} */
.noPadBox{
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
}
.padBox{
  background: #fff;
  border:1px solid #EFEFEF;
  border-top: 0px !important;
  border-radius: 0px 0px 4px 4px;
  padding:30px;
}
.profileInfo{
  background: #F2FAFF;
  border-radius: 4px;
  padding:30px;
  margin-bottom: 20px;
}
.profileInfo .data-links {
  border-top: 1px solid #EFEFEF;
  border-bottom: 0px solid #ccc;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0px;
}
.noPadBox .track-order-list{
  padding: 0 30px 30px 30px;
}
.noPadBox .track-order-list h5 {
  font-size: 14px;
  font-weight:400;
  color: #575757;
  float: left;
}
.noPadBox .text-muted {
  color: #98a6ad !important;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
.noPadBox .greenStat{
  color: #09d501 !important;
}
.noPadBox .track-order-list ul li:before {
  background-color: #000;
}
.noPadBox .track-order-list ul li.completed {
  border-color: #000;
}
.noPadBox .track-order-list ul .completed:before{
  background-color: #09d501 !important;
}
.noPadBox .track-order-list ul li {
  border-left: 2px solid #000;
}
.light{
  color: #98a6ad;
}
.font-12{
  font-size:12px;
}
.greenColor{
  color:#09d501 !important;
}
.redColor{
  color:#E96666 !important;
}
.font-10{
  font-size:10px;
}
.pl-10{
  padding-left: 10px;
}
.float-unset{
  float:unset !important;
}
.profileInfo .table-link{
  line-height:1.5;
}
.meetingRow{
    background: #F2FAFF;
    border-radius: 4px 4px 0px 0px;
    padding: 15px;
}
.pb-5{
  padding-bottom: 5px;
}
a{
  cursor:  pointer !important;
}
.meetingRowParent{
  margin-bottom: 20px;
}
.grayBox{
  border-radius: 4px;
  padding:20px;
  background: #EFEFEF;
}
.mettingRowLabel {
  font-size: 13px;
  color: #989898;
  font-weight: 400;
  padding-bottom: 5px;
}
.meetingRowGroup{
  margin-bottom: 30px;
}
.candInterview .newFilters {
    background: transparent;
    height: 50px;
    margin: 0 -24px;
    position: relative;
    top: -13px;
    padding: 0 30px;
    border-bottom: 1px solid #EFEFEF;
}
.padBox-r-m{
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 30px;
}
.activeSideOpt{
  color: #fff;
}
.newLayoutHome .hero-section {
  background: url("./assets/new-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.newLayoutHome .hero-section .blackHead {
  color: #fff;
}
.newLayoutHome .banner-text p {
  color: #fff;
  position: relative;
}
.newLayoutHome .banner-text p img {
  position: absolute;
  right: 225px;
  top: 48px;

}
.newLayoutHome .banner-text {
  padding: 12em 0 0 0;
}
.newLayoutHome .srcFeature {
  text-align: left;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 30px 30px;
  height: 400px;
  border-radius: 4px;
}
.newLayoutHome .srcFeature .featureHead {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 0;
}
.newLayoutHome .srcFeature p {
  font-size: 14px;
  color: #000;
}
.newLayoutHome .srcFeature .shortLine{
  width: 76%;
    height: 6px;
    margin: 5px 0;
    background: #0195ff;
    position: absolute;
    bottom: 15px;
    border-radius: 4px;
}
.newLayoutHome .features {
  padding: 0em 0;
  margin-top: -105px;
}
.serviceSection .shortBorder {
  text-align: left;
  width: 100px;
  height: 3px;
  margin: 5px 0;
  background: #0195ff;
}
.servBox{
  background: #F6FBFF;
  padding: 50px 80px;
  height: 334px;
}
.serviceSection img{
  height: 334px;
}
.newPackages .splitHead{
padding: 2em 0;
}
.newPackages .packageBox {
  margin: 20px 0;
  background: #fff;
  box-shadow: none;
  border-radius: 0;
  border-top-left-radius: 0;
  border-right: 1px solid #DBDBDB;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  margin: 0 auto;
  text-align: center;
  padding: 3em 0 0 0;
}
.newPackages .packageBox img{
  padding-bottom: 20px;
}

.serviceSection{
  padding:3em 0 0 0;
}
.no-padding{
  padding:0px !important;
}
.servBox p{
  color: #989898;
  padding-top: 10px;
  font-size: 16px;
}
.newPackages{
  /* border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB; */
  background: #fff;
}
.newPackages .packageBox ul li {
  padding: 6px 40px;
  text-align: center;
}
.sliderBox{
  background: #fff;
  padding: 30px;
  margin: 0 40px;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
}
.slider-sec-new{
  background: #F6FBFF;
}
.slider-sec-new .slick-slide {
  min-height: 100% !important;
  text-align: left;
  padding: 15px;
}
.sliderBoxChild img{
  margin: 0 ;
  padding-right: 10px;
}
.sliderBoxChild{
  display: flow-root;
  margin-bottom: 20px;
}

.slider-sec-new .slick-prev:before {
  content: '';
}

.slider-sec-new .slick-next:before {
  content: '';
}
.slider-sec-new .sL-prev {
  top: 0;
}
.slider-sec-new .sL-next {
  top: 0;
}

.newBluSec{
  background: url("./assets/newFooter.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 0;
}
.miniBlue{
  background: #0195ff;
  padding: 20px;
  text-align: left;
  color: #fff;

}
.white{
  color: #fff;
}

.blueSocial{
  padding: 15px 0px;
  border-bottom: 1px solid #fff;
}
.blueSocial:nth-last-child(1){
  border-bottom: 0px solid #fff;
}

.miniBlue i{
  padding-right: 10px;
}
.newBluSec .bluesecHead {
  padding-top: 55px;
}
.newLayoutHome .appHeader {
  background: none;
}
.newLayoutHome .navbar .brand {
  color: #fff;
}

.newLayoutHome .navbar .buttons-wrapper button {
  color: #fff;
}

.newLayoutHome .navbar .buttons-wrapper {
  justify-self: center;
}
.newLayoutHome .lang-btn {
  color: #fff !important;
  font-weight: 600;
  cursor: pointer;
}

.newLayoutHome .navbar .buttons-wrapper button:hover, .newLayoutHome .navbar .buttons-wrapper button:focus {
  color: #fff !important;
}
#drawerClose #leftSideBar{
  width:78px !important;
}
#drawerClose #leftSideBar .MuiDrawer-paper{
  width:78px !important;
}
#drawerClose #leftSideBar .MuiDrawer-paper .customMenuList{
  display: none !important;
}
#drawerClose #leftSideBar .MuiDrawer-paper .sideInfo{
  display: none !important;
}
#drawerClose #leftSideBar .MuiDrawer-paper .profileBox {
  padding: 9px;
}
#drawerClose .newJobBoard .react-trello-board {
  max-width: 91%;
  overflow-x: auto;
}
.smooth-dnd-container {
  min-height: 400px;
}
button#openDrawer{
  margin-left: 36px;
}

button#openDrawer .MuiSvgIcon-root{
  font-size: 24px;
}


@media only screen and (max-width: 768px) {

  #drawerClose #leftSideBar{
    width:0px !important;
  }
  #drawerClose #leftSideBar .MuiDrawer-paper{
    width:0px !important;
  }
  .newLayoutHome .banner-text p img {
  display: none;
}
  .newLayoutHome .srcFeature {
margin-bottom: 30px;
}
  .newBluSec .inputBlue{
    margin-bottom: 30px;
  }
  .slider-sec-new .sL-prev {
    left: 57px;
}
  .slider-sec-new .sL-next {
    right: 58px;
}
  .sliderBox {
    margin: 0 0;
}
  .servBox {
    background: #F6FBFF;
    padding: 30px 50px;
    height: auto;
}
.serviceSection img {
  height: auto;
}
.auth-form{
  width:auto;
  border-radius: 0px !important;
}
.bottomDots{
  display: none;
}
.topDots{
  display: none;
}
.authLayout{
height:auto;
padding-top: 80px;
}
.auth-logo-img {
  position: absolute;
  top: 0;
  right: 40%;
}
.auth-logo-img img {
  width:100px;
}
.newEmpLayout .MuiDrawer-paperAnchorDockedLeft{
  border:0px !important;
}
.newEmpLayout .jobPosting .newFilters{
  margin:0px 0 20px 0;
}
.newfilterItem{
  margin: 0px 20px 0 0;
  display: inline-block;
  padding: 8px 0px;
}
.customInput {
  margin-bottom: 30px;
}
.auth-form .btn{
  width: 125px !important;
}
.newFPassword {
  white-space: nowrap;
}
.commonPage {
  height: 100vh;
  padding-top: 20px;
}
.changeEmail {
  width: auto;
}
.widget{
  margin-bottom: 20px;
}
.empJobDashboard .newFilters{
    background: #fff;
    height: auto;
    margin: 0 0 20px 0;
    position: relative;
    top: 0;
    padding: 0 30px;
}
.empJobDashboard .newFilters .pull-left{
  float: unset !important;
}
.empJobDashboard .newFilters .pull-right{
  float: unset !important;
  display: block !important;
  justify-content: unset !important;
}
.empJobDashboard .newFilters .newfilterItem{
  display: block !important;
}
.empJobDashboard .newFilters .btn-decline{
  margin-left: 0px !important;
}
.empJobDashboard .newFilters .newfilterItem i{
  width: 25px;
}


.jobPosting .newFilters .pull-left{
  float: unset !important;
}
.jobPosting .newFilters .pull-right{
  float: unset !important;
  display: block !important;
  justify-content: unset !important;
}
.jobPosting .newFilters .newfilterItem{
  display: block !important;
}
.jobPosting .newFilters .btn-decline{
  margin-left: 0px !important;
}
.jobPosting .newFilters .newfilterItem i{
  width: 25px;
}

.pull-right-disable-res{
  float: unset !important;
  display: block !important;
  justify-content: unset !important;
}
/* #openDrawer{
  display: inline-flex !important;
} */
.draftLink {
  font-weight:600;
  font-size: 16px;
  color: #0195ff;
  position: relative;
  top: 46px;
  cursor: pointer;
  position: absolute;
  left: 37%;
  text-align: center;
}
.newEmpLayout .btn-job .btn {
  margin-left: 20px;
  margin-left: 20px;
  display: block;
  margin-bottom: 10px;
  width: 80px !important;
}
.MuiDialogContent-root {
  z-index: 9;
}
.modalBg {
  z-index: 1;
}
}