@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Maven+Pro|Roboto");


.navbar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  column-gap: 20px;
  padding: 0 20px 0 20px;
  margin: 0;
  border: 0;
}
.navbar .drawer {
  display: none !important;
}
.navbar .navbar-background {
  grid-column: 1/span 13;
  grid-row: 1/1;
  z-index: -1;
  margin: 0 -20px 0 -20px;
  background-color: #D9E9F4;
  min-height: 60px;
}
.navbar .drawer-icon {
  grid-column: 1/span 1;
  grid-row: 1;
  display: none;
  visibility: hidden;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  align-self: center;
  color: #473f44;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}
@media only screen and (max-width: 1000px) {
  .navbar .drawer-icon {
    display: block;
    visibility: visible;
  }
}
.navbar .brand {
  color: #6e3624;
  grid-column: 2/span 3;
  grid-row: 1;
  align-self: center;
  margin: auto;
  white-space: nowrap;
  cursor: pointer;
}
@media only screen and (max-width: 1400px) {
  .navbar .brand {
    grid-column: 1/span 3;
  }
}
@media only screen and (max-width: 1000px) {
  .navbar .brand {
    grid-column: 1/span 13;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .drawer {
    display: flex !important;
  }
}
.navbar .buttons-wrapper {
  display: flex;
  grid-column: 1/span 13;
  grid-row: 1;
  justify-self: end;
  align-self: stretch;
  align-items: stretch;
  height: auto;
  z-index: 1;
}
.navbar .buttons-wrapper button {
    font-size: 14px;
    background-color: #D9E9F4;
    color: #473f44;
    width: auto;
    border: 0;
    border-left: 0px solid #473f44;
    padding: 0 25px;
}
.navbar .buttons-wrapper button:nth-last-child(1) {
  border-right: 0px solid #473f44;
}
.navbar .buttons-wrapper button:hover, .navbar .buttons-wrapper button:focus {
  background-color: transparent;
  outline: none;
  color: #0195FF;
}
@media only screen and (max-width: 1000px) {
  .navbar .buttons-wrapper {
    display: none;
  }
}
.navbar .drawer {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  height: 100vh;
  top: 100%;
}
.navbar .drawer .drawer-menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #D9E9F4;
  width: 70%;
  z-index: 2;
}
.navbar .drawer .drawer-menu button {
  font-size: 14px;
  background-color: #D9E9F4;
  color: #473f44;
  border: 0;
  border-top: 1px solid #473f44;
  height: 60px;
}
.navbar .drawer .drawer-menu button:nth-last-child(1) {
  border-bottom: 1px solid #473f44;
}
.navbar .drawer .drawer-menu button:hover, .navbar .drawer .drawer-menu button:focus {
  background-color: #D9E9F4;
  outline: none;
}
.navbar .drawer .drawer-tapout-area {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 500ms ease-in;
  z-index: 1;
}
@keyframes fadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}